
<footer class="position-relative fst-italic bg-light container hidden-tml">
  <div class="row mt-5 mb-1">
    <div class="col-12  col-sm-4 text-center ">
       <h3 class="fst-italic text-primary"> Liens rapides</h3>
       <ul class="">
         <li> <a href="#" class="text-decoration-none text-dark">Clubs</a></li>
         <li> <a href="#" class="text-decoration-none text-dark">sports universitaires</a> </li>
         <li><a href="#" class="text-decoration-none text-dark"> concours/chalenges</a> </li>
         <li> <a href="#" class="text-decoration-none text-dark">Cours</a> </li>
       </ul>
    </div>

    <div class="col-12  col-sm-4 text-center">
       <h3 class="fst-italic text-primary"> Communauté</h3>
       <ul class="">
         <li> <a href="#" class="text-decoration-none text-dark">Nasa</a></li>
         <li> <a href="#" class="text-decoration-none text-dark">DESCAM</a> </li>
         <li><a href="#" class="text-decoration-none text-dark">DICOM</a> </li>
         <li> <a href="#" class="text-decoration-none text-dark">losange</a> </li>
       </ul>
    </div>
    <div class="col-12 col-sm-4 text-center mx-auto">
       <h3 class="fst-italic text-primary" > Rejoignez nous</h3>
       <ul class="">
         <li> <a href="#" class="text-decoration-none text-dark">Whatsapp <i class="bi bi-whatsapp text-success"></i> </a></li>
         <li> <a href="#" class="text-decoration-none text-dark">Twitter <i class="bi bi-twitter text-secondary"></i> </a> </li>
         <li><a href="#" class="text-decoration-none text-dark"> Facebook <i class="bi bi-facebook text-primary"></i> </a> </li>
         <li> <a href="#" class="text-decoration-none text-dark">Telegram <i class="bi bi-telegram text-secondary"></i> </a> </li>
       </ul>
    </div>




  </div>
</footer>
