{% extends "direction/base.html"  %}


{% block message %}
 <p class="fs-4 border border-dark py-2 px-3 alert alert-primary">
  Bonjour <span class="text-primary"> {{user.username}}</span>. Section section est reserver aux professeurs
  pour gérer les cours en ligne des étudiants
  </p>


{% endblock %}


{% block content %}
{% include "direction/vertical-bar.html" with onglet=6 %}
<div class="row">
  <div class="col-12 col-md-6 col-lg-4 my-2">
    <div class="card border border-primary ">
     <i class="bi bi-text-paragraph display-2 mx-auto"></i>
     <div class="card-body">
       <h3 class="card-title"> Liste des cours</h3>
       <p class="card-text"> Consulter la liste des cours en ligne de vos étudiants</p>
       <a href="{% url 'direction:liste_cours' %}" class="stretched-link"></a>
     </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 my-2">
    <div class="card border border-primary ">
       <i class="bi bi-text-paragraph display-3 mx-auto"></i>
        <i class="bi bi-plus display-5  mx-auto"></i>
     <div class="card-body">
       <h3 class="card-title "> Ajouter un cours</h3>
       <p class="card-text "> CLiquez ici pour ajouter un cours en ligne à vos étudiants</p>
       <a href="/direction/cours/selection_specialite/?prev=0" class="stretched-link"></a>
     </div>
    </div>
  </div>



  </div>


{% endblock %}
