{% load static %}

<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Direction</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'direction/css/direction-index.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/bootstrap-icons.css' %}">
  </head>

  <body>
    <div class="container-fluid bg-light">
      <div class="vertical-bar active ">
        <i class="bi bi-justify fs-3 menu-2 text-light "></i>

        <ul class="fs-4 fw-bold ">

          <li class=" bg-light d-inline-block p-1 rounded-3 mt-4 d-flex justify-content-between" > <img src="{% static 'vitrine/images/logo-ecole.png' %}" width="60px" height="40" alt=""> </li>
          <li class="mt-5 active"><a href="#" class="link-light text-decoration-none py-4 px-2 " ><i class=" bi bi-house-door-fill  me-3"></i> <span class="me-3 d-inline">Acceuil</span> </a> </li>
          <li class="mt-4 " ><a href="#" class="link-light text-decoration-none py-4 px-2 " ><i class=" bi bi-people-fill  me-3" ></i><span class="me-3">Etudiant</span> </a> </li>
          <li class="mt-4 " ><a href="#" class="link-light text-decoration-none py-4 px-2 " ><i class=" bi bi-person-lines-fill me-3 "></i><span class="me-3">Parents </span>  </a> </li>
          <li class="mt-4 " ><a href="#" class="link-light text-decoration-none py-4 px-2 " ><i class=" bi bi-gear-fill   me-3"></i><span class="me-3 "> paramètre</span> </a> </li>
          <li class="mt-4 " ><a href="#" class="link-light text-decoration-none py-4 px-2 " ><i class=" bi bi-backspace  me-3 "></i> <span class="me-3 ">Quitter</span> </a> </li>
        </ul>
      </div>

      <div class="main active ">
        <div class=" top d-flex justify-content-between">
          <div class="menu">
            <i class="bi bi-justify fs-3 "></i>
          </div>
          <div class="">
            <p class="text-uppercase display-5 fw-bold"> Gestion des étudiants </p>
          </div>
          <div class="">
            <img src="{% static 'vitrine/images/etudiante2.jpg' %}" class="rounded-circle d-block mx-auto" width="50px" height="50px" alt="">
            <p class="text-center"> Hermine Diffo</p>
          </div>
        </div>
        <div class="container">
          <div class="">
            <p class="fs-4 border border-dark py-2 px-3 alert alert-primary">Bonjour <span class="text-primary fw-bold">{{user.username}}</span>. Section section est reserver à l'édition des
            étudiant ainsi que de leurs parents respectifs. Elle est spécialement utilsée lors de l'inscription
            des nouveaux étudiants</p>

            <button type="button" class="btn my-3" name="button">Regarger l'historique de vos activités</button>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 my-2">
              <div class="card border border-primary ">
               <i class="bi bi-people-fill display-2 mx-auto"></i>
               <div class="card-body">
                 <h3 class="card-title"> Liste des etudiant</h3>
                 <p class="card-text"> Consulter la liste des etudiants de l'institut</p>
                 <a href="#" class="stretched-link"></a>
               </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2">
              <div class="card border border-primary ">
                <i class="bi bi-person-lines-fill display-2 mx-auto"></i>

               <div class="card-body">
                 <h3 class="card-title "> Liste des parents</h3>
                 <p class="card-text "> Consulter la liste des parents des etudiants de l'institut</p>
                 <a href="#" class="stretched-link"></a>
               </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2">
              <div class="card border border-primary ">
                 <i class="bi bi-person-plus-fill display-3 mx-auto"></i>
               <div class="card-body">
                 <h3 class="card-title "> Ajouter un étudiant</h3>
                 <p class="card-text "> CLiquez ici pour ajouter un étudiant</p>
                 <a href="#" class="stretched-link"></a>
               </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2">
              <div class="card border border-primary ">
                <i class="bi bi-plus display-2 mx-auto"></i>
               <div class="card-body">
                 <h3 class="card-title "> Ajouter un parent</h3>
                 <p class="card-text "> CLiquez ici pour ajouter un parent d'étudiant</p>
                 <a href="#" class="stretched-link"></a>
               </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2 ">
              <div class="card border border-primary ">
               <i class="bi bi-people display-2 mx-auto"></i>
               <div class="card-body">
                 <h3 class="card-title"> Modifier un étudiant</h3>
                 <p class="card-text"> Mettez à jour les information d'un étudiant</p>
                 <a href="#" class="stretched-link"></a>
               </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2 ">
              <div class="card border border-primary ">
               <i class="bi bi-person display-2 mx-auto"></i>
               <div class="card-body">
                 <h3 class="card-title"> Modifier un parent</h3>
                 <p class="card-text"> Mettez à jour les information d'un parent</p>
                 <a href="#" class="stretched-link"></a>
               </div>
              </div>
            </div>
          </div>
          <div class="">

          </div>
        </div>

      </div>
    </div>

<script type="text/javascript" src="{% static 'direction/js/direction-index.js' %}">

</script>
  </body>
</html>
