{% extends "direction/base.html" %}

{% block message %}
 <p class="fs-4 border border-dark py-2 px-3 alert alert-primary">
    Modifier l'étudiant
 </p>

{% endblock %}
  
  
{% block content %}
{% include "direction/vertical-bar.html" with onglet=2 %}
<div class="container row  mt-4 ">
    <div class="col-12  col-lg-8 mt-2">
    <div>
      <a href="" class="btn btn-primary"> modifier le parent </a>
    </div>
      <form method="post" class="form-direction" enctype="multipart/form-data" action="{% url 'direction:modification_etudiant' pk=etudiant.pk %}">
        {% csrf_token %}
        {{form.as_p}}
        <div class=" d-flex justify-content-between mt-5">
         <input type="submit" value="Modifier" class="btn btn-primary fw-bold text-light " name="">
      </div>
        
      </form>
    </div> 

  </div>





{% endblock %}
